html, body{
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.main-bg {
    background-color: #1e1e1e;
    color: white;
    min-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.chat-nav {
    width: 300px;
    border: 1px solid red;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
    transition: width 0.3s ease, padding 0.3s ease, overflow 0s linear 0.3s;
}

.chat-nav-hid {
    width: 20px;
    border: 1px solid red;
    overflow: hidden;
    padding: 1em;
    transition: width 0.3s ease, padding 0.3s ease;
}

.chat-main {
    flex: 1;
    border: 1px solid red;
    overflow: auto;
    padding: 1em;
}